[submodule "ae-resume-engine"]
	path = ae-resume-engine
	url = https://github.com/amazingefren/ae-resume-engine.git
[submodule "ae-publishing-engine"]
	path = ae-publishing-engine
	url = https://github.com/amazingefren/ae-publishing-engine.git
[submodule "ae-system-engine"]
	path = ae-system-engine
	url = https://github.com/amazingefren/ae-system-engine.git
[submodule "ae-workbench"]
	path = ae-workbench
	url = https://github.com/amazingefren/ae-workbench.git
[submodule "ae-studio-engine"]
	path = ae-studio-engine
	url = https://github.com/amazingefren/ae-studio-engine.git
[submodule "ae-eval-engine"]
	path = ae-eval-engine
	url = https://github.com/amazingefren/ae-eval-engine.git
