@import "../assets/_shared.scss";
#about-root {
  display: flex;
  justify-content: center;
  background-color: $theme-bg;
  color: $theme-fg;
  font-size: 4em;
}

.about-emphasis{
  color: $theme-blue;
  font-weight: bold;
  text-decoration: $theme-bg-alt underline dotted;
}

