@import "../assets/_shared.scss";

#intro-root {
  background-color: $theme-bg;
  color: $theme-fg;
  max-height: 100px !important;
  padding-top: 64px;
  height: 100px !important;
  display: flex;
  position:relative;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
}

#intro-header{
  text-align:right;
  opacity: 0;
  color: $theme-fg
}

// #intro-header,#intro-animation-container{
//   width: auto;
// }

#intro-animation-container{
  width: 100%;
}

#intro-animation-container{
  position: relative;
  height: 100%;
}


.iao{
  opacity: 0;
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
}

#intro-anim-1 {
  font-weight: bold;
  font-style: italic;
}
#intro-anim-2 {
  font-weight: bold;
  font-style: italic;
}


#intro-footer {
  position: absolute;
  bottom: 15%;
  color: $theme-blue;
  font-size: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .intro-footer-link{
    margin: 10px;
  }
}
