#skills-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: purple;
}

.skills-container{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid white;
}

.skills-header{
  font-size: 1.2em; 
}

.skills-education-list {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  header {
    grid-column: 1;
    font-size: 1.5em;
  }
}
