#skills-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
}

.skills-header {
  align-self: center;
  font-size: 1.2em;
  color: white;
}

#skills-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}

#skills-sections-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-section-btn,
.skills-btn-active {
  color: white;
  user-select: none;
  padding: 10px;
  cursor: pointer;
}

.skills-section-btn {
  background-color: black;
  color: darkgray;
}

.skills-btn-active {
  background-color: #121212;
  color: white;
}

#skills-content-wrapper {
  flex-grow: 1;
}

#skills-content-wrapper > ul {
  margin: 0;
  padding: 0;
  li {
    border: 1px solid blue;
    padding: 10px;
    list-style-type: none;
  }
}

#skills-lang-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto ;
  text-align:center;
}
