$navbar-width: 100px;
$mobile-rule: 1000px;

// $theme-bg: #111417;
// $theme-bg-alt: #191e22;
// $theme-bg-selection: #35363B;
// $theme-comment: #5E5C55;
// $theme-bg-light: #DBD6BD;
// $theme-fg: #acaaa4;
// $theme-fg-light: #DBDAD7;
// $theme-red: #D27979;
// $theme-orange: #D29E79;
// $theme-yellow: #D2C479;
// $theme-green: #88D279;
// $theme-cyan: #79D2A6;
// $theme-blue: #79C4D2;
// $theme-pink: #D279D2;

$theme-bg: #0A0E1F;
$theme-bg-alt: #131939;
$theme-bg-selection: #202A60;
$theme-base: #7082DB;
$theme-comment: #3D4B8F;
$theme-bg-light: #DEE0ED;
$theme-fg: #ACB3D2;
$theme-fg-light: #DEE0ED;
$theme-red: #DB7070;
$theme-orange: #EB8B47;
$theme-yellow: #DBC970;
$theme-green: #82DB70;
$theme-cyan: #70DBA6;
$theme-blue: #70C9DB;
$theme-purple: #9470DB;

/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-franklin-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v7-latin-regular.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-600 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/libre-franklin-v7-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v7-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v7-latin-600.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-franklin-v7-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v7-latin-italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-600italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/libre-franklin-v7-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v7-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v7-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v7-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v7-latin-600italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
