@import "../assets/_shared.scss";
#about-root {
  background-color: $theme-bg;
  position: relative;
  height:auto;
  // padding-top: 80px;
  // padding-bottom: 80px;
  padding:0;
  // margin-top: 64px;

  // box-shadow: inset 0 40px 20px -10px $theme-bg, inset 0 -40px 20px -10px $theme-bg;
  // box-shadow: inset 0 40px 20px -10px $theme-bg;
}

#about-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $theme-fg;
  font-size: 1.5em;
  // height: 300px;
  height: 100vh;
  
  @media only screen and(max-width: 550px){
    font-size: 4vw;
  }
}

#about-me-container{
  // opacity: 0;
  height: 100%;
  display: flex;
  justify-content:center;
  flex-flow: column;
  #about-p-1{
    margin:0;
    // margin-left:75px;
    // margin-bottom: 30px;
    font-style: italic;
    @media only screen and(max-width: 750px){
      margin: 10px 0 10px 0;
    }
  }
  #about-p-2{
    padding:0;
    margin:0;
    // @media only screen and(max-width: 600px){
      // margin: 10px 0 10px 0;
    // }
  }
}

#about-me-hey{
  font-size: 2.5rem;
  color: $theme-fg;
  // font-weight: bold;
}

.about-emphasis{
  color: $theme-green;
  // font-weight: bold;
  // text-decoration: $theme-bg-alt underline dotted;
}

