@import "../assets/_shared.scss";
#about-root {
  background-color: $theme-bg-alt;
  height:auto;
  padding-top: 80px;
  padding-bottom: 80px;

  // box-shadow: inset 0 40px 20px -10px $theme-bg, inset 0 -40px 20px -10px $theme-bg;
  // box-shadow: inset 0 40px 20px -10px $theme-bg;
}

#about-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $theme-fg;
  font-size: 1.5em;
  
}

#about-me-container{
  // opacity: 0;
  p{
    margin-bottom: 0;
    margin-top: 15px;
  }
}

#about-me-hey{
  font-size: 2em;
  color: $theme-fg;
  // font-weight: bold;
}

.about-emphasis{
  color: $theme-orange;
  font-weight: bold;
  // text-decoration: $theme-bg-alt underline dotted;
}

