@import "../assets/_shared.scss";
#header-root{
  border-bottom: 1px solid $theme-bg-selection;
  box-shadow: 0 0 10px $theme-bg;
  box-sizing: border-box;
  background-color: $theme-bg;
  position: fixed;
  z-index: 999;
  top:0;
  padding:0;
  clear: both;
  height: 64px;
}

#intro-container {
  color: $theme-fg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  // padding-top: 20px;
  // padding-bottom: 20px;
  color: $theme-fg;
}

#intro-header {
  text-align: left;
}

