@import "../assets/shared.scss";

$icon-size: 48px;

#links-root {
  position: fixed;
  display: flex;
  @media only screen and (max-width: $mobile-rule){
    display: none;
  }
  flex-flow: column;
  align-items: flex-end;
  top:64px;
  z-index: 50;
  right: 0;
  .intro-footer-link {
    transition: all 0.2s ease-out;
    width: $icon-size;
    height: $icon-size;
    // z-index: 10;
    svg {
      height: $icon-size !important;
      width: $icon-size !important;
    }
  }
  .intro-footer-link:hover {
    width: 100%;
    box-shadow: 0 0 20px black;
    // z-index: 9;
    transition: all 0.1s cubic-bezier(0.76, 0, 0.24, 1) ease-in-out;
  }
}

.link-item {
  display: flex;
  width: auto;
  flex-flow: column;
  align-items: flex-end;
  a{
    text-decoration:none;
  }
  .intro-footer-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .link-content{
      text-decoration: none;
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  .svg-wrapper{
    height:$icon-size;
    width:$icon-size;
  }
}

.link-container {
  box-sizing: border-box;
  // filter: drop-shadow(0 0 20px red);
  display: table;
}

#github-container {
  background-color: #211f1f;
  color: #ffffff;
  font-weight:bold;
  text-shadow: 0 0 5px black;
  font-size: 1.2rem;
}
#twitter-container {
  background-color: #1da1f2;
  color: #ffffff;
  font-weight:bold;
  text-shadow: 0 0 5px $theme-bg;
  font-size: 1.2rem;
}
#linkedin-container {
  background-color: #0e76a8;
  color: #ffffff;
  font-weight:bold;
  text-shadow: 0 0 5px $theme-bg;
  font-size: 1.2rem;
}
