@import "../assets/shared.scss";

$icon-size: 48px;
@keyframes SlideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#links-root {
  position: fixed;
  display: flex;
  @media only screen and (max-width: $mobile-rule) {
    display: none;
  }
  // opacity: 0;
  flex-flow: column;
  align-items: flex-end;
  top: 64px;
  // bottom: 50%;
  z-index: 1000;
  right: 0;
  .intro-footer-link {
    transition: all 0.2s ease-out;
    width: $icon-size;
    height: $icon-size;
    // z-index: 10;
    svg {
      height: $icon-size !important;
      width: $icon-size !important;
    }
  }
  .intro-footer-link:hover {
    width: 100%;
    box-shadow: 0 0 20px black;
    // z-index: 9;
    transition: all 0.1s cubic-bezier(0.76, 0, 0.24, 1) ease-in-out;
  }
}

.link-item {
  display: flex;
  width: auto;
  flex-flow: column;
  align-items: flex-end;
  a {
    text-decoration: none;
  }
  .intro-footer-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .link-content {
      text-decoration: none;
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  .svg-wrapper {
    height: $icon-size;
    width: $icon-size;
  }
}

.link-container {
  box-sizing: border-box;
  // filter: drop-shadow(0 0 20px red);
  display: table;
}
#email-container {
  background-color: #191919;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  font-size: 1.2rem;
  opacity: 0;
  animation-delay: 0.5s;
  animation-name: SlideLeft;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1) ease-out;
  animation-fill-mode: forwards;
}

#github-container {
  background-color: #211f1f;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  font-size: 1.2rem;
  opacity: 0;
  animation-delay: 0.6s;
  animation-name: SlideLeft;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1) ease-out;
  animation-fill-mode: forwards;
}
#linkedin-container {
  background-color: #0e76a8;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px $theme-bg;
  font-size: 1.2rem;
  opacity: 0;
  animation-delay: 0.7s;
  animation-name: SlideLeft;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1) ease-out;
  animation-fill-mode: forwards;
}
#twitter-container {
  background-color: #1da1f2;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px $theme-bg;
  font-size: 1.2rem;
  opacity: 0;
  animation-delay: 0.8s;
  animation-name: SlideLeft;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1) ease-out;
  animation-fill-mode: forwards;
}
