@import "../assets/shared.scss";
#navbar-root{
  // Container  
  height: 100%;
  width: $navbar-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  color: $theme-fg;

  // Animation
  // transform: translateX(-$navbar-width);

  // Grid
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  * {
    padding-right: 10px;
  }

  @media only screen and (max-width: $mobile-rule) {
    display: none; 
  }
}
