@import "./_shared.scss";
#project-root {
  background-color: $theme-bg-shade;
  border-top: 1px solid $theme-comment;
  // z-index: 2;
  position: relative;
  box-shadow: 0 0 20px black;
}

#project-container {
  margin-left: -26px;
  margin-right: -26px;
}

.project-card {
  color: $theme-fg;
  border: 1 px solid $theme-bg-alt;
  padding-top: 32px;
  padding-bottom: 32px;
}
.project-card-header {
  display: flex;
  flex-direction: column;
  // padding-bottom: 20px;
  position: relative;
  .project-card-img-wrapper {
    overflow: hidden;
    // position: relative;
    border-left: 1px solid $theme-bg-selection;
    border-right: 1px solid $theme-bg-selection;
    margin-bottom: -2px;
    padding: 0;
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 1000px){
      flex-direction: column-reverse;
    }
    .project-card-img {
      // width: 100%;
      object-fit: cover;
      width: 75%;
    @media only screen and (max-width: 1000px){
      width: 100%;
    }
      max-height: 800px;
    }
    .project-card-description {
      padding: 26px;
      // position: absolute;
      // height: 100%;
      box-sizing: border-box;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: flex-start;
    }
    .project-card-features{
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0px 0px 26px 26px;
      margin: 0;
      height: 50%;
      h2{
        margin: 0 0 10px 0;

      }
      // li{
      // }
    }
  }
}
.project-card-top {
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid $theme-bg-selection;
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    background-color: #{$theme-bg-alt};
    color: $theme-fg-light;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    // padding-top: 20px;
    // height: 50px;
    padding: 10px 0px 10px 26px;
  }
}

.project-card-left-flex{
  border-right: 1px solid $theme-bg-selection;
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 25%;
  @media only screen and (max-width: 1000px){
    width: 100%;
  }
  background-color: #{$theme-bg-alt};
}

.project-card-tech-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  bottom: 0;
  // right:0;
  // top:0;
  // bottom:0;
  // top: 70px;
  // z-index: 2;
  // border-left: 1px solid $theme-bg-selection;
  // border-bottom: 1px solid $theme-bg-selection;
  // border-right: 1px solid $theme-bg-selection;
  border: 1px solid $theme-bg-selection;
  padding-top: 1px;
  // background-color: $theme-bg;
  background-color: #{$theme-bg-alt};
  // border: 1px solid $theme-bg-selection;
  .project-card-tech-img-wrapper {
    display: flex;
    height: 50px;
    width: 100%;
    transition: 0.2s ease-in-out;
    @media only screen and (max-width: 600px) {
      height: 30px;
      width: 100%;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    cursor: pointer;
    // margin-left: 10px;
    // margin-right: 10px;
    // margin-bottom: 10px;
    // border: 1px solid $theme-bg-selection;
    * {
      max-width: 150px;
      max-height: 50px;
      @media only screen and (max-width: 600px) {
        max-height: 30px;
        max-width: 130px;
      }
    }
    justify-content: center;
    align-items: center;
    // max-height: 50px;
    // max-width: 100px;
  }
  .project-card-tech-img-wrapper:hover {
    background-color: $theme-bg-selection;
  }
}
.project-card-links{
  display:flex;
  flex-direction: row;
  *{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: $theme-bg-selection;
    transition: 0.2s;
    color: $theme-fg;
    text-decoration: none;
    // color: black;
  }
  *:hover{
    background-color: $theme-green;
    color: $theme-bg;
  }
}

// .tech-Typescript{
//   background-color: #007ACC;
// }
// .tech-NestJS{
//   background-color: #EA2845;
// }
// .tech-Apollo{
//   background-color: #311C87;
// }
// .tech-NextJS{
//   background-color: #000000;
// }
// .tech-NodeJS{
//   background-color: #404137;
// }
